<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice</title>
    <meta name="description" content="A microservice for shortening urls." />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h2>URL Shortener Microservice</h2>
      <h3>Short URL Creation</h3>
      <p>
        example:
        <code>POST https://url-short-rb.glitch.me/api/shorturl/new</code> -
        <code>https://www.google.com</code>
      </p>
      <form action="api/shorturl/new" method="POST">
        <label for="url_input">URL to be shortened</label>
        <input
          id="url_input"
          type="text"
          name="url"
          value="https://www.google.com"
        />
        <input type="submit" value="POST URL" />
      </form>
      <h3>Example Usage:</h3>
      <a href="https://url-short-rb.glitch.me/api/shorturl/30">
        https://url-short-rb.glitch.me/api/shorturl/30
      </a>

      <h3>Will Redirect to:</h3>
      <p><a href="https://www.duolingo.com">duolingo.com</a></p>
    </div>
  </body>
</html>
